<footer class="   bg-blue-950  shadow mt-10">
    <div class="container mx-auto px-4 py-6 text-center">
      <p class=" mx-0 bg-blue-950 text-white-700">&copy; 2024 Blog. All rights reserved.</p>
    </div>
  </footer>

 